---
---

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Global Styles */
body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 4px #000000;
  margin: 0;
  padding: 12rem;
}

/* Links */
a {
  color: #ffcc00;
  text-decoration: none;
  text-shadow: 0px 0px 4px #ffcc00;
}
a:hover {
  color: white;
  text-shadow: 0px 0px 8px #ffcc00;
}

/* Pixel Grid Overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to right, rgba(39, 43, 46, 0.6) 0px, rgba(39, 43, 46, 0.6) 2px, transparent 2px, transparent 20px
  ),
  repeating-linear-gradient(
    to bottom, rgba(39, 43, 46, 0.6) 0px, rgba(39, 43, 46, 0.6) 2px, transparent 2px, transparent 20px
  );
  pointer-events: none;
  z-index: -1;
}
